---
const year = new Date().getFullYear();
---

<footer class="site-footer">
  <div class="footer-inner">
    <div class="footer-brand">
      <a href="/" class="site-logo">Jason <span>Ehlinger</span></a>
      <p>Leadership & Financial coach. CEO of Taika Translations. U.S. Air Force veteran. Husband. Father of 8.</p>
      <div class="footer-social">
        <a href="https://www.instagram.com/jason.ehlinger/" target="_blank" rel="noopener">Instagram</a>
        <a href="https://www.facebook.com/jason.r.ehlinger" target="_blank" rel="noopener">Facebook</a>
        <a href="https://www.youtube.com/@Visiontribemoney" target="_blank" rel="noopener">YouTube</a>
      </div>
    </div>

    <div class="footer-links">
      <h4>Navigate</h4>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/speaking">Speaking</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>

    <div class="footer-links">
      <h4>Topics</h4>
      <ul>
        <li><a href="/services#leadership">Leadership Systems</a></li>
        <li><a href="/services#finance">Personal Finance</a></li>
        <li><a href="/services#coaching">1-on-1 Coaching</a></li>
        <li><a href="https://www.youtube.com/@Visiontribemoney" target="_blank" rel="noopener">Vision Tribe Money</a></li>
        <li><a href="https://www.taikatranslations.com" target="_blank" rel="noopener">Taika Translations</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <span>&copy; {year} Jason Ehlinger. All rights reserved.</span>
    <span>Built with integrity.</span>
  </div>
</footer>
